@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello excited user!</h1>

Welcome to my Blazor sandbox application. I wnat to add there all my usefule gadgets and tools, which I had to made during my work.

